# ==========================
# Backend
# ==========================

PORT=3000
NODE_ENV=development

# ==========================
# Base de données
# ==========================

DB_HOST=db
DB_PORT=5432
DB_USER=user
DB_PASSWORD=change_me
DB_NAME=gestion_etudiants

# ==========================
# API externe
# ==========================

OPENAI_API_KEY=your_key_here

# ==========================
# Authentification
# ==========================

JWT_SECRET=change_me_in_prod